<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <span class="err">404</span>
  <span class="message">The page you are looking for is is qurantine... :(</span>
  <a href="/">Click here to go Home></a>
</body>

</html>