*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 
body{
  max-width: 90%;
  margin: 0 5%;
}
span{
  width: 100%;
  text-align: center;
  display: block;
}
span.err{  
  color: red;
  font-size: 5rem;
}
a{
  width: 100%;
  text-align: center;
  display: block;
}