$primary-tone: rgb(48, 115, 146);
$secondary-tone: rgb(115, 48, 146);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  //  &::-webkit-scrollbar{
  //    width: 0px;
  //  }
}
h1 {
  font-size: 2.15rem;
  font-weight: 400;
}
h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

header {
  position: sticky;
  background: $primary-tone;
  color: white;
  height: 3.5rem;
  top: -3.5rem;
  padding: 0.5rem 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  transition: all 0.25s;
  svg {
    fill: white;
    height: 1.75rem;
    width: auto;
    margin: 0 1rem 5px;
    cursor: pointer;
    &:last-child {
      display: none;
    }
  }
  span.title {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
    font-size: 2.15rem;
    cursor: pointer;
  }
}
nav {
  background: $primary-tone;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  a {
    padding: 0 1rem;
    text-decoration: none;
    color: rgba($color: #ffffff, $alpha: 0.8);
    transition: all 0.25s;
    &:hover {
      color: #ffffff;
      text-decoration: underline;
      font-size: 1.15rem;
    }
  }
}

main {
  padding: 5%;
  position: relative;
  display: flex;
  aside.timeline {
    order: 1;
    height: 100%;
    width: 20%;
    position: sticky;
    top: 3.5rem;
    padding: 1rem;
    padding-left: 0;
    left: 0;
    span.mark {
      display: none;
    }
    a {
      display: block;
      margin: 0.5rem;
      margin-left: 1rem;
      font-size: 0.95rem;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  aside.latest-blogs {
    order: 3;
    height: 100%;
    width: 20%;
    position: sticky;
    top: 3.5rem;
    padding: 1rem;
    padding-right: 0;
    right: 0;
    span.mark {
      display: none;
    }
    a {
      display: block;
      margin: 0.5rem;
      margin-left: 1rem;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  div.blogs-area {
    order: 2;
    width: 60%;
    padding: 1rem;
    section.blog {
      height: auto;
      margin: 0 0 2rem;
      h1 {
        margin-bottom: 0.75rem;
      }
      h3 {
        margin-bottom: 0.5rem;
        font-weight: 300;
      }
      div.article-author {
        display: flex;
        padding: 1rem;
        img {
          height: 48px;
          width: 48px;
          border: 1px solid grey;
          border-radius: 50%;
          cursor: pointer;
        }
        span.authors-data {
          margin-left: 1rem;
          flex-direction: column;
          span.authors-name {
            display: block;
            font-size: 1.05rem;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
          span.authors-subtitle {
            display: block;
            font-size: 0.9rem;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        &:hover {
          background: rgba($color: #000000, $alpha: 0.015);
        }
      }
      article.article-content {
        position: relative;
        picture {
          position: relative;
          source,
          img {
            height: inherit;
            width: 100%;
            border-radius: 5px;
          }
        }
      }
      div.article-navigation {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        a.next-article {
          box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.5);
          padding: 0.5rem 1rem;
          font-size: 0.9rem;
          color: black;
          text-decoration: none;
          margin: 0.5rem;
          transition: all 0.25s;
          &:hover {
            background: $primary-tone;
            color: white;
          }
        }
        a.prev-article {
          box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.5);
          padding: 0.5rem 1rem;
          font-size: 0.9rem;
          color: black;
          text-decoration: none;
          margin: 0.5rem;
          transition: all 0.25s;
          &:hover {
            background: $primary-tone;
            color: white;
          }
        }
      }
    }
  }
}

footer {
  height: fit-content;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-evenly;
  background: #000000;
  section.site-map {
    margin: 1rem;
    a {
      display: block;
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  section.blogs {
    margin: 1rem;
    a {
      display: block;
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  section.social-media {
    margin: 1rem;
    a {
      display: block;
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (max-width: 720px) {
  header {
    span.title {
      left: 5%;
      transform: translateX(-5%);
      font-size: 1.95rem;
    }
    svg {
      margin: 0rem;
      margin-left: 1rem;
      height: 1.5rem;
      &:last-child {
        display: block;
      }
    }
  }
  nav {
    display: none;
    position: fixed;
    flex-direction: column;
    background: rgba($color: #ffffff, $alpha: 0.95);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1rem;
    z-index: 9;
    a {
      margin: 0.5rem auto;
      width: 100%;
      height: 1.5rem;
      text-align: center;
      color: black;
      &:hover {
        color: black;
      }
    }
  }
  main {
    padding: 1rem;
    flex-direction: column;
    aside.timeline {
      padding: 0;
      position: relative;
      order: 1;
      width: 100%;
      height: fit-content;
      top: 0;
      margin: 0;
      span {
        font-size: 1.25rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;
        &:hover {
          box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.15);
        }
        span.text {
          pointer-events: none;
        }
        span.mark {
          display: block;
          transition: all 0.25s;
          pointer-events: none;
        }
      }
      a {
        transition: all 0.25s;
        display: none;
        height: 0;
      }
    }
    aside.latest-blogs {
      padding: 0;
      position: relative;
      order: 2;
      width: 100%;
      top: 0;
      margin: 0;
      span {
        font-size: 1.25rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;
        &:hover {
          box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.15);
        }
        span.text {
          pointer-events: none;
        }
        span.mark {
          display: block;
          transition: all 0.25s;
          pointer-events: none;
        }
      }
      a {
        transition: all 0.25s;
        display: none;
        height: 0;
      }
    }
    div.blogs-area {
      padding-top: 1rem;
      width: 100%;
      section.blog {
        article.article-content {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    flex-direction: column;
  }
}
