$primary-tone: rgb(48, 115, 146);
$secondary-tone: rgb(28, 87, 114);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  position: relative;
  height: 100vh;
}
header {
  height: 3.5rem;
  background: $primary-tone;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  margin-bottom: -3.5rem;
  span.title {
    text-decoration: underline;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  input[type="button"] {
    padding: 0.5rem 1rem;
    background: $primary-tone;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: all 0.25s;
    &:hover {
      background: white;
      border: 2px solid transparent;
      color: black;
      cursor: pointer;
    }
  }
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 3.5rem;
  aside {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    background: $secondary-tone;
    height: 100%;
    width: fit-content;
    a {
      padding: 0.25rem 1rem;
      margin: 0.25rem 0 0.25rem 0.25rem;
      text-decoration: none;
      color: white;
      border-bottom: 2px solid transparent;
      white-space: nowrap;
      transition: all 0.25s;
      &:hover {
        border-bottom: 2px solid white;
      }
    }
    a.active {
      background: white;
      color: $secondary-tone;
      &:hover {
        border-bottom: 2px solid white;
      }
    }
  }
  div.control-area {
    height: 100%;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    span.heading {
      font-size: 1.5rem;
    }
    table {
      display: flex;
      flex-direction: column;
      height: 90%;
      width: fit-content;
      border-collapse: collapse;
      thead {
        display: block;
        background: rgba($color: #2e0158, $alpha: 1);
        color: white;
        border-bottom: 3px solid rgba($color: #71afd8, $alpha: 1);
        border-radius: 5px 5px 0 0;
        tr {
          th {
            text-align: left;
            padding: 0.25rem;
            font-size: 1rem;
            font-weight: 500;
            &:not(:last-child) {
              border-right: 1px solid rgba($color: #71afd8, $alpha: 0.8);
            }
          }
          th:nth-child(1) {
            text-align: center;
            width: 4rem;
          }
          th:nth-child(2) {
            width: 12rem;
          }
          th:nth-child(3) {
            width: 42rem;
          }
          th:nth-child(4) {
            width: 7rem;
          }
          th:nth-child(5) {
            width: 3rem;
          }
        }
      }
      tbody {
        height: 100%;
        display: block;
        overflow-y: scroll;
        text-align: left;
        padding: 0.25rem;
        font-size: 0.85rem;
        border-bottom: 3px solid rgba($color: #71afd8, $alpha: 1);
        border-radius: 0 0 5px 5px;
        tr {
          &:hover {
            background: rgba($color: #2e0158, $alpha: 0.1);
          }
          td {
            padding: 0.25rem;
            border-bottom: 2px solid transparent;

            &:hover {
              border-bottom: 2px solid rgba($color: #71afd8, $alpha: 1);
            }
          }
          td:nth-child(1) {
            width: 4rem;

            text-align: center;
          }
          td:nth-child(2) {
            width: 12rem;
          }
          td:nth-child(3) {
            width: 42rem;
          }
          td:nth-child(4) {
            width: 7rem;
          }
          td:nth-child(5) {
            width: 3rem;
            text-align: center;
            cursor: pointer;
            &:hover{
              border-bottom-color: red;
            }
          }
        }
      }
    }
  }
}
