$primary-tone: rgb(48, 115, 146);
$secondary-tone: rgb(115, 48, 146);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  min-height: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
  position: sticky;
  background: $primary-tone;
  color: white;
  height: 3.5rem;
  top: -3.5rem;
  padding: 0.5rem 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
  transition: all 0.25s;
  span.title {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: fit-content;
    font-size: 2.15rem;
    cursor: pointer;
  }
}
main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
    width: fit-content;
    height: fit-content;
    span.heading {
      position: absolute;
      padding: 1rem;
      height: 3.5rem;
      width: 50%;
      text-align: center;
      cursor: pointer;
      transition: all 0.25s;
      z-index: 5;
      border-top: 3px solid transparent;
      &:hover {
        color: #5fa8d3;
        border-top: 3px solid #5fa8d3;
      }
      &:nth-child(1) {
        top: 0;
        left: 0;
        border-radius: 5px 0 0 0;
      }
      &:nth-child(2) {
        top: 0;
        right: 0;
        border-radius: 0 5px 0 0;
      }
    }
    span.active {
      border-top: 3px solid $primary-tone;
      &:nth-child(1) {
        border-right: 1px solid lightgray;
        cursor: default;
        color: black;
        
      }
      &:nth-child(2) {
        border-left: 1px solid lightgray;
        cursor: default;
        color: black;
        
      }
    }
    form {
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.25);
      padding: 4rem 2rem 2rem;
      border-radius: 5px;
      div.form-field {
        position: relative;
        min-width: 240px;
        height: 50px;
        margin-bottom: 1rem;
        overflow: hidden;
        input {
          position: absolute;
          height: 100%;
          width: 100%;
          padding-top: 20px;
          border: none;
          outline: none;
          &:hover + label {
            span {
              color: #5fa8d3;
            }
          }
          &:focus + label,
          &:valid + label {
            border-bottom-color: transparent;
            &::after {
              transform: translateX(0);
            }
            span {
              color: #5fa8d3;
              transform: translateY(-115%);
            }
          }
        }
        label {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          pointer-events: none;
          border-bottom: 1px solid black;
          border-radius: 4px;
          transition: all 0.25s;
          span {
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.25s;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            border-radius: 3px;
            height: 100%;
            width: 100%;
            pointer-events: none;
            border-bottom: 3px solid #5fa8d3;
            transform: translateX(-100%);
            transition: all 0.25s;
          }
        }
      }
      input[type="button"] {
        padding: 0.5rem;
        background: $primary-tone;
        color: white;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all 0.25s;
        border-radius: 5px;
        font-size: 1.25rem;
        outline: none;
        &:hover,
        &:focus {
          background: white;
          border-color: $primary-tone;
          color: $primary-tone;
        }
      }
    }
  }
  div.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 2rem;
    width: 100%;
    background: $primary-tone;
  }
}
@media only screen and (max-width: 720px) {
  main {
    height: fit-content;
    padding-bottom: 2rem;
    margin: 0;
    flex-direction: column;
  }
}
